<div class="absolute-layout">
  <div class="row-layout row">
    <p class="text">Details (*)</p>
    <igx-input-group placeholder="Product Title" type="border" class="input-group_1">
      <label igxLabel for="inputField">SKU ID*</label>
      <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Product Title" igxInput />
    </igx-input-group>
    <igx-input-group placeholder="In-Stock" type="border" class="input-group">
      <label igxLabel for="inputField">In-Stock*</label>
      <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="In-Stock" igxInput />
    </igx-input-group>
    <igx-input-group placeholder="Product Description" type="border" class="input-group_2">
      <label igxLabel for="inputField">Description*</label>
      <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Product Description" igxInput />
    </igx-input-group>
    <igx-select placeholder="Select" type="border" [disabled]="false" class="select">
      <label igxLabel>Product Type*</label>
      <igx-select-item [isHeader]="false" value="Option" [disabled]="false">
        Option
      </igx-select-item>
    </igx-select>
    <igx-select placeholder="Select" type="box" [disabled]="false" class="select_1">
      <label igxLabel>Status*</label>
      <igx-select-item [isHeader]="false" value="Option" [disabled]="false">
        Option
      </igx-select-item>
    </igx-select>
  </div>
  <div class="row-layout_1 row"></div>
</div>
