<div class="absolute-layout">
  <div class="row-layout row">
    <img src="/assets/logo.PNG" class="image" />
  </div>
  <p class="text">Stock Inventory</p>
  <p class="igx-typography__body-2 text_1">Stock Listing</p>
  <div class="absolute-layout_1">
    <igx-input-group placeholder="Search with SKU-ID, Product Type, Status" type="border" class="input-group">
      <label igxLabel for="inputField"></label>
      <input type="text" name="inputField" [required]="false" [disabled]="false" placeholder="Search with SKU-ID, Product Type, Status" igxInput />
    </igx-input-group>
  </div>
  <img src="/assets/user.PNG" class="image_1" />
  <img src="/assets/menu.PNG" routerLink="/list" class="image_2" />
</div>
<div class="views-container">
  <router-outlet></router-outlet>
</div>
