:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.row-layout {
  align-items: stretch;
  width: 1366px;
  height: 800px;
  min-width: 50px;
  min-height: 50px;
}
.grid {
  margin: 50px 0 0;
  width: 1366px;
  height: 800px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.row {
  display: flex;
}
