:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.row-layout {
  align-items: stretch;
  width: 1366px;
  height: 766px;
  min-width: 50px;
  min-height: 50px;
}
.grid {
  margin: 60px 0 0;
  width: 1362px;
  height: 725px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.button {
  top: 20px;
  right: 120px;
  position: absolute;
  width: 88.0102861328125px;
  height: max-content;
  min-width: min-content;
}
.row {
  display: flex;
}
